	*{
		margin: 0;
	}	
		#Arriba{
				width: 100%;
				height: 100px;
				background-color: blue;
			}
			#Cuadroizquierdo{
				width: 100%;
				height: 60px;
				background-color: yellow;
				float: left;
			}
			#Medio{
				width: 20%;
				height: 300px;
				background-color: green;
				float: left;
			}
			#Cuadroderecho{
				width: 77%;
				height: 300px;
				background-color: red;
				float:left;
			}
			#Final{
				width: 100%;
				height: 100px;
				background-color: blue;
				float:left;